@font-face {
    font-family: 'Britania Ligatura';
    src: url('font/Britania_Ligatura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }

body {
  background-color: #1E1E1E;
  color: #fff;
}

header {
  background: url('img/Signaturedish.png')  no-repeat center center/cover;
  padding: 2rem;
  color: #fff;
  position: relative;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 0.9rem;
}

nav a {
  color: #FFD87A;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Britania Ligatura';
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #FFD87A;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.hero-text {
position: absolute;
bottom: 2rem;
left: 2rem;
text-align: left;
max-width: 50%;
font-family: 'Britania Ligatura';
}

.hero-text h1 {
  font-size: 80px;
  color: #FFD87A;
  font-family: 'Britania Ligatura';
}

.section {
  display: flex;
  background-color: #3C4A2D;
  color: #FFD87A;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section p {
  color: #fff;
  font-size: 0.9rem;
}

.section img {
  width: 100%;
  object-fit: cover;
}

.images {
  padding: 0;
  margin-left: 0px;
  
}

.images img {
  display: block;
  padding: 0;
  margin-bottom: 50px;
  width: 100%;
}

.hidangan1 {
    margin-top: 30px;
}

.footer {

  background-color: #C8A44E;
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  color: #3C4A2D;
}
.ft {
    display: flex;
    justify-content: space-between;
    margin: 15px 70px 15px 70px;
}
.icons {
  margin-top: 1rem;
}

.icons img {
  width: 50px;
  margin: 0 5px;
}
.bannerbwh {
    display: flex;
    background-color: #4D562F;
    color: white;
    font-family: 'Calibri Light', 'Calibri', sans-serif;
    font-size: 24px;
  }
  .bannerbwh p {
    margin-left: 30px;
    margin-top: 40px;
  }
.hidangan {
    background-color: #4D562F;
    display: flex;
  }
  .judulhidangan {
    color: #CEB76E;
    font-size: 30px;
    display: flex;
    margin-left: 30px;
    font-family: 'Britania Ligatura';
  }
  .judulhidangan img {
    width: 80px;
    padding: 10px;
  }
  .hidangan p {
    margin-left: 30px;
    width: 700px;
    margin-bottom: 150px;
    font-size: 24px;
    color: white;
    font-family: 'Calibri Light', 'Calibri', sans-serif;
    margin-top: 40px;
  }
  .navhidangan {
    margin-left: 14px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
  }
  .navhidangan a {
    color: #CEB76E;
    text-decoration: none;

  }
  .tblselengkapnya {
    display: flex;
    align-items: center;
  }
  .tblselengkapnya a {
    margin-right: 10px;
  }

  .navhidangan2 {
    margin-right: 14px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
  }
  .navhidangan2 a {
    color: #CEB76E;
    text-decoration: none;
    margin-left: 0;
  }
  .tblselengkapnya {
    display: flex;
    align-items: center;
  }
  .tblselengkapnya a {
    margin-right: 10px;
  }
.content2 p {
    width: 200px;
}
.judulhidangan2 {
    color: #CEB76E;
    font-size: 30px;
    display: flex;
    margin-left: 10px;
}
.ft p {
    font-family: 'Calibri Light', 'Calibri', sans-serif;
}
